/* Global Css */
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 150px 0;
}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.heading{ 
    font-size: 65px;
    font-weight: 700px;
    line-height: 80px;
    
}
.flex{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20px;
}
.secondary-heading{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
  
}
.small-heading{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 5px 0;
}
.small-text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 0px;
}
.primary{
    color: #FF5959;
}
.white{
    color:#ffff;
}
.gray{
    color: #707070;
}
.grays{
    color: #707070;
    margin-bottom: 40px;
}
.donate-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #FF5959;
    color: #ffff;
    padding: 18px 30px;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
}
.col-6{
    width: 40;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 50px 25px;

    
}
.col-3{
width: 20%;

}
/* ************* */

/* topbanner Css starts from here */
.top-banner{
background: url(images/new-bg.png) center center no-repeat;
background-size: cover;


}
 .inner-banner{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    z-index: 55;
    
}

/* donate today starts */
.item-container{
    display: flex;
    width: 80%;
    margin: 80px auto;
 
}
.item-box{
    background-color: #FAFAFA;
    padding: 50px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #ffff;
}
.item-box:hover{
    background: #FFEEEE;
    color:#FF5959;
    border: 2px solid #FF5959;
    
}
.item-box h2{
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
}

#donate-input{
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
}

/* Donate Plan Section Css */
.donate-plan{
    padding-top: 0px ;
    padding-bottom: 80px;
}
#food{
    background-color:rgba(79, 157, 166, 0.1) ;
  
}
#shelter{
   background:rgba(255, 89, 89, 0.1);
  
}
#education{
   background:  #FFF4D6;
}

/* Donate Plan css End  */

/* Support Community Start */
.support-community{
    background:linear-gradient(180deg, rgba(18, 18, 18,.3) , rgba(18, 18, 18, 1)),
     url(images/donation13.jpg)center center no-repeat;
    background-size: cover;
    position: relative;
    
    
}

.main{
  margin: 25px 0px;
}
.sponsor-btn{
    display:inline-block ;
    background:#FF5959;
    color: #FAFAFA;
    padding: 10px 40px;
    font: 14px;
    text-decoration: none;
    margin-bottom: 40px;
}
/* Sponsor Section Done */

/* Get Updates Section  */

.subcription-form{
    padding: 60px 30px;
    background: #FFF4D6;
    width: 50%;
    margin: 0 auto

}

.sub-input{
    background: #D9D9D9;
    padding: 18px 50px;
    margin: 20px -10px;
    border-radius: 5px;
    display: inline-block;
    outline: none;
    border: none;
}
.btn2{
    padding: 16px 50px;
    margin: 18px -10px;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    color: #ffff;
    
}
footer{
    width: 100%;
    background: #0B0D17;
    padding: 50px 50px 20px 50px ;
}
